/* General formatting */
body {
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans",
    roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu,
    "franklin gothic medium", "century gothic", "Liberation Sans", sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2;
  text-align: left;
}

/* Narrow Column */
.content-column {
  max-width: 65%;
  margin: 40px auto;
}

/* Full-width and Full-height */
.vis-holder {
  width: 100vw;
  height: 100%;
  text-align: center;
}

.text-indentation {
  margin-left: 17%;
}

.radio-group {
	min-width: 15%;
}

.flex-container {
  min-width: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.checkboxes {
  margin: 4px;
  padding: 4px;
  width: 100%;
  height: 120px;
  overflow-x: hidden;
  overflow-y: auto;
  border-style: solid;
  border-width: 2px;
}

.checkboxes-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 175px;
}

.no-margin {
  margin: 0;
}
