/* General formatting */
body {
  padding: 0;
  margin: 0;
  font: 18px/1.5 "Segoe UI";
}

h1,
h2,
h3 {
  line-height: 1.2;
  text-align: left;
}

/* Narrow Column */
.content-column {
  max-width: 65%;
  margin: 40px auto;
}

/* Full-width and Full-height */
.vis-holder {
  width: 100vw;
  height: 100%;
  text-align: center;
  position: relative;
  font: "Segoe UI";
}

.text-indentation {
  margin-left: 17%;
}

.radio-group {
  min-width: 15%;
  position: absolute;
  margin-left: 73%;
  margin-top: 6%;
}

.violin-container {
  min-width: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

#checkbox-header {
  margin-left: 73%;
  margin-top: 3.5%;
}

.checkboxes {
  position: absolute;
  margin: 4px;
  padding: 4px;
  height: 25%;
  overflow-y: auto;
  border-style: solid;
  border-width: 2px;
  margin-left: 70%;
  margin-top: 7%;
  width: 15%;
  z-index: 1;
  background-color: white;
}

#checkboxes-container {
  display: flex;
  flex-flow: wrap;
  margin-left: 3%;
  justify-content: flex-start;
  width: 100%;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}

#line-chart {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.tooltip {
  width: 150px;
  background-color: white;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 15;
}

.tooltip-figure {
  display: flex;
  align-items: center;
  margin: 10px 0 0 0;
  gap: 10px;
}

.tooltip-list {
  list-style: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.tooltip-caption {
  line-height: 1;
}
